/* List Section */
main {
    padding: 3rem 5rem;
}

/* List Title */
h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* Task action buttons */
.tasks-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.new-task,
.delete-all {
    background: transparent;
    border: none;
    cursor: pointer;
}

.new-task {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.new-task *,
.delete-all {
    color: #ffffffb3;
    font-size: 1.1rem;
}

.new-task div,
.delete-all {
    font-weight: 700;
}

.new-task * {
    pointer-events: none;
}

.new-task:hover * {
    color: #ffffff;
}

.new-task:active * {
    color: #ffffff99;
}

.delete-all:hover {
    color: #ff4747;
}

.delete-all:active {
    color: #ff4747cc;
}

/* Divider */
main .divider {
    width: 100%;
    margin: 0 auto 1.5rem;   
}

/* Task */
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    padding: 1.5rem 2rem;
    cursor: pointer;
}

.task:hover {
    background-color: #24272e4d;
}

/* Checkbox */
.check-container {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.checkbox {
    appearance: none;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;

    border: 3px solid #24272e;
    border-radius: 50%;

    cursor: pointer;
}

.tick {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transform: scale(.6);
    pointer-events: none;
}

.checkbox:hover {
    border-color: #3a3f4a;
}

.checkbox:checked {
    background-color: #13ce66;
    border: transparent;
}

.checkbox:checked:hover {
    opacity: 0.9;
}

.checkbox:checked ~ .tick {
    opacity: 1;
}

/* Task content */
.task-content {
    width: 100%;
}

/* Task name */
.task-name {
    background: none;
    border: none;

    font-size: 1.2rem;
    font-weight: 500;
}

.check-container.checked ~ .task-content .task-name {
    text-decoration: line-through;
    text-decoration-thickness: .15rem;
    color: #ffffffb3;
}

/* Delete task button */
.delete-btn {
    background-color: #ff474721;
    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 50%;

    position: relative;

    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    flex-shrink: 0;
}

.task:hover > .delete-btn {
    visibility: visible;
    opacity: 1;
}

.delete-btn .delete-icon {
    color: #ff4949;
    font-size: 1.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

.delete-btn:hover {
    background-color: #ff4949;
}

.delete-btn:active {
    background-color: #ff474780;
}

.delete-btn:hover .delete-icon {
    color: #fff;
}

.delete-btn:active .delete-icon {
    color: #ffffffb3;
}