::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #24272e;
    border-radius: 2rem;
}